[Desktop Entry]
Name=nina1
GenericName=nina2
Comment=nina3
Type=nina4
Exec=nina5
Icon=nina6
Terminal=nina7
Categories=nina8
Keywords=nina9


# Translations
Comment[ru]=Визуальный
Name[ru]=Дизайнер интерфейса
GenericName[ru]=Дизайнер
Comment[uk]=Візуальний
Name[uk]=Засіб розробки
GenericName[uk]=Засіб 
